In [50]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from category_encoders.m_estimate import MEstimateEncoder

In [51]:
df = pd.read_csv('data/train_transaction.csv')

In [67]:
df.shape

(590540, 94)

In [53]:
df = df.iloc[:, :-300]

In [54]:
df.shape

(590540, 94)

In [55]:
df.head()

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V30,V31,V32,V33,V34,V35,V36,V37,V38,V39
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0
3,2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0
4,2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
df.columns

Index(['TransactionID', 'isFraud', 'TransactionDT', 'TransactionAmt',
       'ProductCD', 'card1', 'card2', 'card3', 'card4', 'card5', 'card6',
       'addr1', 'addr2', 'dist1', 'dist2', 'P_emaildomain', 'R_emaildomain',
       'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11',
       'C12', 'C13', 'C14', 'D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8',
       'D9', 'D10', 'D11', 'D12', 'D13', 'D14', 'D15', 'M1', 'M2', 'M3', 'M4',
       'M5', 'M6', 'M7', 'M8', 'M9', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7',
       'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17',
       'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27',
       'V28', 'V29', 'V30', 'V31', 'V32', 'V33', 'V34', 'V35', 'V36', 'V37',
       'V38', 'V39'],
      dtype='object')

In [62]:
X = df.drop(columns=['TransactionID', 'isFraud', 'TransactionDT'])
y = df[['isFraud']]

In [63]:
X = X.fillna(-1)

In [60]:
X._get_numeric_data().shape

(590540, 77)

In [66]:
X = MEstimateEncoder().fit_transform(X,y)

/Users/cmougan/opt/anaconda3/envs/uncertainty/lib/python3.9/site-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [68]:
X

,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,addr1,addr2,...,V30,V31,V32,V33,V34,V35,V36,V37,V38,V39
0,68.50,0.020399,13926,-1.0,150.0,0.077275,142.0,0.066785,315.0,87.0,...,0.0,0.0,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0
1,29.00,0.020399,2755,404.0,150.0,0.034331,102.0,0.066785,325.0,87.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
2,59.00,0.020399,4663,490.0,150.0,0.034756,166.0,0.024263,330.0,87.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0
3,50.00,0.020399,18132,567.0,150.0,0.034331,117.0,0.024263,476.0,87.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0
4,50.00,0.047662,4497,514.0,150.0,0.034331,102.0,0.066785,420.0,87.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590535,49.00,0.020399,6550,-1.0,150.0,0.034756,226.0,0.024263,272.0,87.0,...,1.0,0.0,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0
590536,39.50,0.020399,10444,225.0,150.0,0.034331,224.0,0.024263,204.0,87.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0
590537,30.95,0.020399,12037,595.0,150.0,0.034331,224.0,0.024263,231.0,87.0,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0
590538,117.00,0.020399,7826,481.0,150.0,0.034331,224.0,0.024263,387.0,87.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0
590539,279.95,0.020399,15066,170.0,150.0,0.034331,102.0,0.066785,299.0,87.0,...,1.0,0.0,0.0,0.0,0.0,2.0,2.0,1.0,1.0,0.0